<ion-header color="dark" style="height: 40%;">
    <ion-content color="dark">
        <ion-img src="../../../assets/veriprof-logo.png" class="mt-4"></ion-img>
        <h2>{{UserTypes[currentUserType].title}}</h2>
    </ion-content>
</ion-header>

<ion-content color="dark" class="centerMargin_2">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)" color="dark">
        <ion-item color="dark">
            <ion-label position="floating" color="dark" class="inner">Email</ion-label>
            <ion-input type="text" formControlName="email" color="dark" class="inner"></ion-input>
        </ion-item>
        <div class="validation-errors" color="dark" class="inner">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                    *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
                    color="dark" class="inner">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item color="dark">
            <ion-label position="floating" color="dark" class="inner">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required color="dark"
                class="inner"></ion-input>
        </ion-item>
        <div class="validation-errors" color="dark" class="inner">
            <ng-container *ngFor="let validation of validation_messages.password" color="dark" class="inner">
                <div class="error-message"
                    *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)"
                    color="dark" class="inner">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" color="dark">Log In
        </ion-button>
        <label class="error-message">{{errorMessage}}</label>
    </form>
    <ion-row class="centerMargin mt-3">
        <ng-container *ngIf="currentUserType == 'professional'">
            <a (click)="goToRegisterPage()" color="danger" style="color:#DC143C;width: 48%;">
                <p>Create an account</p>
            </a>
        </ng-container>
        <a (click)="goToForgetPage()" color="danger" style="color:#DC143C;width: 48%;margin-left: 3%;">
            <p>Forgot Passowrd</p>
        </a>
        <ng-container *ngIf="currentUserType == 'assessor'">
            <p>Create an account by only the Admin</p>
        </ng-container>
    </ion-row>
</ion-content>
<ion-footer color="dark" class="footer">
    <ion-toolbar color="dark">
        <ion-title class="footer">Copyright SIVAGO </ion-title>
    </ion-toolbar>
</ion-footer>