<ion-header>
    <ion-toolbar color="dark">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>Unverified Business Offices</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="scroll-x">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>CIPC Reg</th>
                <th>Office Email</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let x of objs">
                <td>{{x.pname}}</td>
                <td>{{x.ptype}}</td>
                <td>{{x.pcipc_reg_no}}</td>
                <td>{{x.email}}</td>
                <ng-container *ngIf="x.status == 'Pending'">
                    <td (click)="verify(x)" style="background-color: lightgreen;">Begin Schedule</td>
                </ng-container>
                <ng-container *ngIf="x.status == 'Unverified'">
                    <td (click)="schedule()" style="background-color: rgb(180, 0, 0);">Begin Schedule</td>
                </ng-container>
                <ng-container *ngIf="x.status == 'Verified'">
                    <td>Verified</td>
                </ng-container>
            </tr>
        </table>
    </div>
</ion-content>