<ion-header>
    <ion-toolbar color="dark">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>My Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment class="mt-1" [(ngModel)]="segment" color="light" (ionChange)="getlist($event)">
        <ion-segment-button value="profess" class="dark" enabled>
            <ion-icon name="business" class="dark" color="dark"></ion-icon>
            <ion-label class="dark" color="dark">Individual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="business">
            <ion-icon name="business" class="dark" color="dark"></ion-icon>
            <ion-label class="dark" color="dark">Business</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
        <ion-card class="p-fixed fixed-ion-card-area" *ngSwitchCase="'profess'">
            <strong>Individual Profile
                <ion-button size="small" class="profile_edit" (click)="editPerson()">
                    <ng-container *ngIf="is_profileEdit">Cancel Edit</ng-container>
                    <ng-container *ngIf="!is_profileEdit">Edit Profile</ng-container>
                </ion-button>
            </strong>
            <ion-row>
                <ion-label>Status : </ion-label>
                <ng-container *ngIf="form.status =='Unverified'">
                    <ion-label color="danger">Unverified</ion-label>
                </ng-container>
                <ng-container *ngIf="form.status == 'Verified'">
                    <ion-label color="success">Verified</ion-label>
                </ng-container>
            </ion-row>
            <ion-card-content id="profess_profile" disabled="true">
                <ion-item>
                    <ion-label>Are you a director in the Business?</ion-label>
                    <ng-container *ngIf="is_director">
                        <ion-button size="small" class="profile_edit">Yes
                        </ion-button>
                        <ion-button size="small" class="profile_edit opacity-disable"
                            (click)="editDirector(is_director)">No
                        </ion-button>
                    </ng-container>
                    <ng-container *ngIf="!is_director">
                        <ion-button size="small" class="profile_edit opacity-disable"
                            (click)="editDirector(is_director)">Yes
                        </ion-button>
                        <ion-button size="small" class="profile_edit">No
                        </ion-button>
                    </ng-container>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input name="name" [(ngModel)]="form.name" value="{{form.name}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Surname</ion-label>
                    <ion-input name="surname" [(ngModel)]="form.surname" value="{{form.surname}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">ID No</ion-label>
                    <ion-input name="id_no" [(ngModel)]="form.id_no" value="{{form.id_no}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Council Membership</ion-label>
                    <ion-select multiple="false" name="council" [(ngModel)]="form.council" value="{{form.council}}">
                        <ion-select-option value="SACAP">SACAP</ion-select-option>
                        <ion-select-option value="ECSA">ECSA</ion-select-option>
                        <ion-select-option value="SACQSP">SACQSP</ion-select-option>
                        <ion-select-option value="SACPMP">SACPMP</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Professional Registration No</ion-label>
                    <ion-input name="reg_no" [(ngModel)]="form.reg_no" value="{{form.reg_no}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Employer</ion-label>
                    <ion-input name="employer" [(ngModel)]="form.employer" value="{{form.employer}}" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" style="margin-bottom: 10px;">Upload Supporting Documents
                    </ion-label>
                    <ion-item>
                        <ion-label position="stacked">Letter of appointment</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'appointment')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Professional reqestration certificate</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'pratical_certification')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Qualification</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'qualification')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">CV</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'cv')"></ion-input>
                    </ion-item>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Exp In years</ion-label>
                    <ion-input name="exp_year" [(ngModel)]="form.exp_year" value="{{form.exp_year}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Full / Part Time ( Percentage )</ion-label>
                    <ion-input name="full_part" class="full_part" [(ngModel)]="form.full_part"
                        value="{{form.full_part}}" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Job Title</ion-label>
                    <ion-input name="jtitle" [(ngModel)]="form.jtitle" value="{{form.jtitle}}"></ion-input>
                </ion-item>
                <br>
                <ng-container *ngIf="saveButtonFlag">
                    <ion-button expand="block" type="submit" class="ion-no-margin" color="dark"
                        disabled={{saveButtonFlag}}>Uploading
                        File
                    </ion-button>
                </ng-container>
                <ng-container *ngIf="!saveButtonFlag">
                    <ion-button (click)="addProfile()" expand="block" type="submit" class="ion-no-margin" color="dark"
                        disabled={{saveButtonFlag}}>Request Verification
                    </ion-button>
                </ng-container>

            </ion-card-content>
        </ion-card>
        <ion-card class="p-fixed fixed-ion-card-area" *ngSwitchCase="'business'">
            <ng-container *ngIf="is_director==true">
                <ion-segment [(ngModel)]="business_seg" color="light" (ionChange)="changeOffice($event)">
                    <ion-segment-button value="head" class="dark" enabled>
                        <ion-label class="dark" color="dark" style="font-weight: bold;">Head Office</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="branch">
                        <ion-label class="dark" color="dark" style="font-weight: bold;">Branch Offices</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <div [ngSwitch]="business_seg">
                    <div *ngSwitchCase="'head'">
                        <ion-card-content style="padding: 0px;">
                            <strong>Practice Profile
                                <ion-button size="small" class="profile_edit" (click)="editBusiness()">
                                    <ng-container *ngIf="is_businessEdit">Cancel Edit</ng-container>
                                    <ng-container *ngIf="!is_businessEdit">Edit Business</ng-container>
                                </ion-button>
                            </strong>
                            <ion-row>
                                <strong>Status : </strong>
                                <ng-container *ngIf="pform.status =='Unverified'">
                                    <ion-label color="danger">Unverified</ion-label>
                                </ng-container>
                                <ng-container *ngIf="pform.status == 'Verified'">
                                    <ion-label color="success">Verified</ion-label>
                                </ng-container>
                            </ion-row>
                        </ion-card-content>
                        <ion-card-content class="p-1" id="business_profile" disabled="true">
                            <ion-item>
                                <ion-label position="stacked">Practice Name</ion-label>
                                <ion-input name="pname" [(ngModel)]="pform.pname" value="{{pform.pname}}">
                                </ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Practice Council reg. No</ion-label>
                                <ion-input name="pcouncil" [(ngModel)]="pform.pcouncil" value="{{pform.pcouncil}}">
                                </ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">CIPC registration</ion-label>
                                <ion-input name="pcipc_reg_no" [(ngModel)]="pform.pcipc_reg_no"
                                    value="{{pform.pcipc_reg_no}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Type of Organization</ion-label>
                                <ion-select multiple="false" name="ptype" [(ngModel)]="pform.ptype"
                                    value="{{pform.ptype}}">
                                    <ion-select-option value="CC">CC</ion-select-option>
                                    <ion-select-option value="Sole Proprietor">Sole Proprietor</ion-select-option>
                                    <ion-select-option value="Private">Private</ion-select-option>
                                    <ion-select-option value="Public">Public</ion-select-option>
                                    <ion-select-option value="Inc">Inc</ion-select-option>
                                    <ion-select-option value="Partnership">Partnership</ion-select-option>
                                    <ion-select-option value="External company">External Company</ion-select-option>
                                    <ion-select-option value="Business trust">Business trust</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div style="padding: 0px;">
                                <ion-label position="stacked">Directors</ion-label>
                                <ion-card-content id="directors_area" style="padding: 0px;"></ion-card-content>
                                <ion-button color="dark" (click)="adddirector()">Add director</ion-button>
                            </div>
                            <br>
                            <!-- <ion-item>
                                <ion-label position="stacked">Director Prof registration No</ion-label>
                                <ion-input name="directors_prof_regno" [(ngModel)]="pform.dir_prof_regno"
                                    value="{{pform.dir_prof_regno}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Percentage Owned</ion-label>
                                <ion-input name="owned" class="full_part" [(ngModel)]="pform.owned"
                                    style="border-bottom: solid 1px;" value="{{pform.owned}}"></ion-input>
                            </ion-item> -->
                            <div>
                                <strong style="color:blue">Head Office Address</strong>
                                <ion-item>
                                    <ion-label position="stacked">Address</ion-label>
                                    <ion-input placeholder="" name="hform_number" [(ngModel)]="hform.address"
                                        value="{{hform.address}}"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Contact Number</ion-label>
                                    <ion-input placeholder="" name="hform_number" [(ngModel)]="hform.phone"
                                        value="{{hform.phone}}">+</ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Contact Email</ion-label>
                                    <ion-input placeholder="" name="hform_email" [(ngModel)]="hform.email"
                                        value="{{hform.email}}"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Responsible Professional Name</ion-label>
                                    <ion-input placeholder="" name="hform_res_prof_name"
                                        [(ngModel)]="hform.res_prof_name" value="{{hform.res_prof_name}}"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Responsible Professional PR registration</ion-label>
                                    <ion-input placeholder="" name="hform_res_prof_regno"
                                        [(ngModel)]="hform.res_prof_reg" value="{{hform.res_prof_reg}}"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked" style="margin-bottom: 10px;">SUPPORTING DOCUMENTS
                                    </ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked" style="margin-bottom: 5px;">PROOF OF ADDRESS
                                    </ion-label>
                                    <ion-input name="file" type="file" accept="application/pdf"
                                        (change)="changeListener_dynamic($event,'hoffice_file_address')"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked" style="margin-bottom: 5px;">RESPONSIBLE PROF PR
                                        CERTIFICATE</ion-label>
                                    <ion-input name="file" type="file" accept="application/pdf"
                                        (change)="changeListener_dynamic($event,'hoffice_file_certificate')">
                                    </ion-input>
                                </ion-item>
                                <br>
                                <div style="padding: 0px;">
                                    <!-- <strong style="color:blue">Head Office Staff Info</strong> -->
                                    <ion-row id="ho_staff_area" style="padding: 0px;">
                                    </ion-row>
                                    <ion-row>
                                        <ion-button type="button" color="dark" (click)="addStaff()">Add Head Office
                                            Staff</ion-button>
                                        <!-- <ion-button type="button" class="business_btn" color="dark" (click)="cancelStaff()">Cancel last Staff</ion-button> -->
                                    </ion-row>
                                </div>
                            </div>
                            <br>
                            <!-- <strong style="color:blue">Branch Office Details</strong> -->
                            <div style="padding: 0px;">
                                <ion-card-content id="branch_area" style="padding: 0px;"></ion-card-content>
                                <ion-row>
                                    <ion-button color="dark" (click)="addbranch()">Add Branch Office</ion-button>
                                    <!-- <ion-button class="business_btn" color="dark" (click)="cancelbranch()">Cancel Last Office</ion-button> -->
                                </ion-row>
                            </div>
                            <ion-card>
                                <!-- <strong style="color:blue"> Type of Licensed Equipment</strong> -->
                                <ion-card-content>
                                    <!-- <strong>Software</strong> -->
                                    <ion-card-content id="soft_area">
                                    </ion-card-content>
                                    <ion-button id="addsoft" expand="block" type="button" color="dark"
                                        (click)="addsoft()" style="font-size: 12px;">Add Software</ion-button>
                                </ion-card-content>
                                <ion-card-content>
                                    <!-- <strong>Hardware</strong> -->
                                    <ion-card-content id="hard_area">
                                    </ion-card-content>
                                    <ion-button id="addhard" expand="block" type="button" color="dark"
                                        (click)="addhard()" style="font-size: 12px;">Add Hardware</ion-button>
                                </ion-card-content>
                            </ion-card>
                            <div class="ion-padding">
                                <ng-container *ngIf="saveButtonFlag">
                                    <ion-button expand="block" type="submit" class="ion-no-margin" color="dark"
                                        disabled={{saveButtonFlag}}>Uploading
                                        File
                                    </ion-button>
                                </ng-container>
                                <ng-container *ngIf="!saveButtonFlag">
                                    <ion-button (click)="addBusiness()" expand="block" type="submit"
                                        class="ion-no-margin" color="dark" disabled={{saveButtonFlag}}>Request
                                        Verification
                                    </ion-button>
                                </ng-container>
                            </div>
                        </ion-card-content>
                    </div>
                    <ion-card-content *ngSwitchCase="'branch'">
                        <ng-container *ngIf="bo_offices.length == 0">
                            <h3>There is no Branch Office.</h3>
                        </ng-container>
                        <ng-container *ngIf="bo_offices.length > 0">
                            <div id="branch_areas" *ngFor="let obj of bo_offices; let i=index;" style="padding: 0px;">
                                <ion-input placeholder="Address" id="address" name="pform_address"
                                    [(ngModel)]="obj.address" value="{{obj.address}}"></ion-input>
                                <ion-input placeholder="Contact Number" id="phone" name="pform_number"
                                    [(ngModel)]="obj.phone" value="{{obj.phone}}"></ion-input>
                                <ion-input placeholder="Contact Email" id="email" name="pform_email"
                                    [(ngModel)]="obj.email" value="{{obj.email}}"></ion-input>
                                <ion-input placeholder="Responsible Professional Name" id="res_prof_name"
                                    name="pform_res_prof_name" [(ngModel)]="obj.res_prof_name"
                                    value="{{obj.res_prof_name}}"></ion-input>
                                <ion-input placeholder="Responsible Professional PR registration" id="res_prof_no"
                                    name="pform_res_prof_regno" [(ngModel)]="obj.res_prof_reg"
                                    value="{{obj.res_prof_reg}}"></ion-input>
                                <ion-input placeholder="Verification Status" name="pform_ho_status"
                                    [(ngModel)]="obj.status" value="{{obj.status}}"></ion-input>
                                <ion-card-content>
                                    <strong style="color:blue">Branchs Staff Info</strong>
                                    <ion-card-content id="{{'bstaffs' + i}}">
                                    </ion-card-content>
                                    <ion-button id="{{'bstaffbtn' + i}}" color="dark" style="margin-left: 20px;"
                                        (click)="addbstaff('bstaffs' + i, obj.phone)">Add Branch Office Staff
                                    </ion-button>
                                </ion-card-content>
                            </div>
                            <ng-container *ngIf="saveButtonFlag">
                                <ion-button expand="block" type="submit" class="ion-no-margin" color="dark"
                                    disabled={{saveButtonFlag}}>Uploading File
                                </ion-button>
                            </ng-container>
                            <ng-container *ngIf="!saveButtonFlag">
                                <ion-button expand="block" type="submit" class="ion-no-margin" color="dark"
                                    (click)="bstaffs()" disabled={{saveButtonFlag}}>Save Branch Staffs
                                </ion-button>
                            </ng-container>
                        </ng-container>
                    </ion-card-content>
                </div>
            </ng-container>
            <ng-container *ngIf="is_director==false">
                <strong>Business Office
                    <ion-button size="small" id="Buzi_edit" class="editbtn" (click)="editBuzi()">
                        <ng-container *ngIf="is_nonDirectorEdit">Cancel Edit</ng-container>
                        <ng-container *ngIf="!is_nonDirectorEdit">Edit Information</ng-container>
                    </ion-button>
                </strong>
                <ion-card id="Buzi_info" disabled="true">
                    <ion-card-content>
                        <strong>Select Business Name</strong>
                        <ion-select multiple="false" id="business_list" [(ngModel)]="mybusiness" value="{{mybusiness}}">
                        </ion-select>
                    </ion-card-content>
                    <ion-card-content>
                        <strong>Select Office Email</strong>
                        <ion-select multiple="false" id="office_list" [(ngModel)]="myoffice" value="{{myoffice}}">
                        </ion-select>
                    </ion-card-content>
                </ion-card>
                <div class="ion-padding">
                    <ion-button expand="block" type="submit" class="ion-no-margin" color="dark" (click)="updateBuzi()">
                        Save Information</ion-button>
                </div>
            </ng-container>
        </ion-card>
    </div>
    <br>
</ion-content>

<script>
    const controller = document.querySelector('ion-alert-controller');
    let firstName, lastName;
    function processForm(event) {
        event.preventDefault();
        controller.create({
            header: 'Account Created',
            message: `Created account for: <b>${firstName} ${lastName}</b>`,
            buttons: [{
                text: 'OK'
            }]
        }).then(alert => alert.present());
    }
    function handleFirstNameValue(event) {
        firstName = event.target.value;
    }
    function handleLastNameValue(event) {
        lastName = event.target.value;
    }
</script>