.headerImage {
    height       : 75%;
    margin       : auto;
    margin-top   : 6%;
    margin-bottom: 0%;
}

super-tabs-container super-tab {
    background-color: black;
    color: blanchedalmond;
}

super-tabs-container super-tab ion-input {
    color: blanchedalmond;
}

super-tabs-container super-tab ion-card {
    margin-left: 10%;
    margin-right: 10%;
}

super-tabs super-tabs-toolbar {
    background-color: black;
    color: blanchedalmond;
}

// // ---------------------------------------------------
.quick_verify_content{
    margin-top: 4%;
    height: 70%;
    position: fixed;
    overflow: scroll;
    font-size: 0.8rem;
}

th {
    width: 100%;
    background: #8a8a8a;
    color     : #fff;
    border    : 1px solid #fff;
}

td {
    min-width: 120px;
    background: #ccc;
    padding   : 5px;
    color     : #000;
    border    : 1px solid #fff;
    width     : 50%;
}

// .validation-errors {
//     color: #000;
// }

// //  quick inner
// .inner {
//     font-size: 13px;
//     color    : rgb(168, 167, 167);
// }

// a {
//     color: rgb(129, 9, 9);
// }

// h2 {
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     color      : rgb(168, 167, 167);
//     text-align : center;
// }

// link {
//     font-size : 13px;
//     color     : rgb(168, 167, 167);
//     text-align: center;
// }
