<ion-header style="height: 140px; border: none;">
    <ion-content color="dark">
        <ion-img src="../../assets/veriprof-logo2.png" class="headerImage"></ion-img>
    </ion-content>
</ion-header>

<ion-content class="ion-content-overflow-hidden" padding color="dark">
    <div [ngSwitch]="land_seg" class="segPart">
        <ion-card class="p-fixed quick_verify_card" *ngSwitchCase="'quickp'">
            <h1>Quick Verify</h1>
            <ion-item class="m-4 mb-1" color="dark">
                <ion-label color="success" position="floating" class="inner">Key Word</ion-label>
                <ion-input class="inner " type="text" [(ngModel)]="keyword" color="light"></ion-input>
                <ion-button class="inner m-0 mt-3" color="success" slot="end" (click)="searchContent()">Search</ion-button>
            </ion-item>
            <ion-item class="m-4 mt-0 mb-1" color="dark" lines="none" style="height: 68%; overflow-y: scroll;">
                <tbody>
                    <ng-container *ngIf="valArray != null">
                        <tr class="w-100 m-auto" *ngFor="let eachVal of valArray">
                            <td data-th="">{{eachVal.key}}</td>
                            <td data-th="">{{eachVal.val}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </ion-item>
        </ion-card>
        <ion-card *ngSwitchCase="'newsp'">
            <h1 text-center color="light">News</h1>
        </ion-card>
        <ion-card *ngSwitchCase="'loginp'">
            <h1 text-center color="light">Login - Account</h1>
            <ion-button color="danger" expand="block" (click)="assessor()" style="margin-top: 30%;">
                <ion-icon slot="start" name="Construct"></ion-icon>As An Assessors
            </ion-button>
            <ion-button color="danger" expand="block" (click)="professional()" style="margin-top: 25%;">
                <ion-icon slot="start" name="cog"></ion-icon>As A Professional
            </ion-button>
        </ion-card>
    </div>
    <ion-segment [(ngModel)]="land_seg" class="landTabs">
        <ion-segment-button value="quickp">
            <ion-label>Search</ion-label>
        </ion-segment-button>
        <ion-segment-button value="newsp">
            <ion-label>News</ion-label>
        </ion-segment-button>
        <ion-segment-button color="dark" value="loginp">
            <ion-label>Login</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-content>