<ion-header>
    <ion-toolbar color="dark">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>Schedules</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="p-fixed p-3 m-1 scroll-y">
        <form [formGroup]="schedule_form" (ngSubmit)="schedule_confirm(schedule_form.value)">
            <ion-item color="" class="mt-4">
                <ion-label position="floating" color="grey" class="inner">UserName</ion-label>
                <ion-input type="text" formControlName="name" color="" class="inner" [readonly]="true"
                    value={{this.authService.userDetails().name}}></ion-input>
            </ion-item>
            <ion-item color="" class="">
                <ion-label position="floating" color="gray" class="inner">Verify Target Email</ion-label>
                <ion-input type="text" formControlName="verify_target" color="" class="inner"
                    value={{schedule_form.verify_target}}></ion-input>
            </ion-item>
            <ion-item color="">
                <ion-label position="floating" color="gray" class="inner">Location</ion-label>
                <ion-input type="text" formControlName="location" color="" class="inner"
                    value={{schedule_form.location}}>
                </ion-input>
            </ion-item>
            <ion-segment>
                <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" formControlName="date" class="inner"
                    placeholder="YYYY-MM-DDTHH:mm" value={{schedule_form.date}}></ion-datetime>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.profess">
                        <div class="error-message"
                            *ngIf="schedule_form.get('location').hasError(validation.type) && (schedule_form.get('location').dirty)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-segment>
            <ion-segment>
                <ion-button class="m-auto mt-1 w-100" type="submit" [disabled]="!schedule_form.valid" color="success">
                    Confirm</ion-button>
            </ion-segment>
        </form>
        <table class="table mt-4">
            <tr>
                <th>Name</th>
                <th>Verify Target</th>
                <th>DateTime</th>
                <th>Location</th>
            </tr>
            <tr *ngFor="let x of objs">
                <td>{{x.name}}</td>
                <td>{{x.verify_target}}</td>
                <td>{{x.date.split('.')[0]}}</td>
                <td>{{x.location}}</td>
            </tr>
        </table>
    </ion-card>
</ion-content>