.table {
    margin    : auto;
    font-size : 11px;

    th {
        background: #8a8a8a;
        padding   : 3px;
        color     : #fff;
        border    : 1px solid #fff;
    }

    td {
        background: #ccc;
        padding   : 3px;
        color     : #000;
        border    : 1px solid #fff;
    }
}

.scrollH {
    overflow-x: auto;
}

.validation-errors {
    color: #000;
}