<ion-header class="h-50px">
    <ion-toolbar color="dark" class="h-50px">
        <ion-back-button slot="start" class="h-45px"></ion-back-button>
        <ion-title class="h-50px">Schedules</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="p-2 m-2 scroll-y h-100">
        <div class="scrollH">
            <table class="table mt-2">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Verify Target</th>
                        <th>Profess Name</th>
                        <th>Profess Email</th>
                        <th>DateTime</th>
                        <th>Done</th>
                    </tr>
                    <tr *ngFor="let x of objs">
                        <td>{{x.id}}</td>
                        <td>{{x.verify_target}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.date}}</td>
                        <ng-container *ngIf="x.is_done == '0'">
                            <td class="bg-danger">Not yet</td>
                        </ng-container>
                        <ng-container *ngIf="x.is_done == '1'">
                            <td class="bg-success">Done</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </ion-card>
</ion-content>