<ion-header color="dark" style="height: 40%;">
    <ion-content color="dark">
        <ion-img src="../../../assets/veriprof-logo.png" class="mt-4"></ion-img>
        <h2>Forgot Password</h2>
    </ion-content>
</ion-header>

<ion-content class="centerMargin" color="dark" style="margin:5%">
    <ion-card color="dark">
        <ion-item color="medium">
            <ion-label position="floating" color="medium" class="inner">Email</ion-label>
            <ion-input name="email" class="inner" [(ngModel)]="user_email"></ion-input>
        </ion-item>
        <ion-button class="submit-btn" color="dark" (click)='sendPass()'>Verify by Eamil </ion-button>
        <p class="go-to-login" class="mt-3">Remember password?<a (click)="goLoginPage()" style="color:#DC143C;">Try to Log In.</a></p>
    </ion-card>
</ion-content>
<ion-footer color="dark" class="footer">
    <ion-toolbar color="dark">
        <ion-title class="footer">Copyright SIVAGO </ion-title>
    </ion-toolbar>
</ion-footer>