<ion-header>
    <ion-toolbar color="dark">
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
    <ion-img src="assets/veriprof-logo.png"></ion-img>
    <br>
    <h2 style="margin:0px;">Forgot Password</h2>
    <br>
    <br>
    <br>
    <ion-item color="medium">
        <ion-label position="floating" color="medium" class="inner">Email</ion-label>
        <ion-input name="email" class="inner" [(ngModel)]="user_email"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" color="dark" (click)='sendPass()'>Verify by Eamil </ion-button>
    <br>
    <p class="go-to-login" style="margin-top:5px;">Remember password?<a (click)="goLoginPage()"
            style="color:#DC143C;">Try to Log In.</a></p>
</ion-content>
<ion-footer color="dark" class="footer">
    <ion-toolbar color="dark">
        <ion-title class="footer">Copyright SIVAGO </ion-title>
    </ion-toolbar>
</ion-footer>