<ion-header>
    <ion-toolbar color="dark">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>My Projects</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="segment" color="light">
        <ion-segment-button class="border-none" value="add-circle">
            <ion-icon name="add-circle" color="dark"></ion-icon>
            <ion-label color="dark">Add New</ion-label>
        </ion-segment-button>
        <ion-segment-button class="border-none" value="paper">
            <ion-icon name="list-circle-outline" color="dark"></ion-icon>
            <ion-label color="dark">Projects</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
        <ion-card class="p-fixed fixed-ion-card-area" *ngSwitchCase="'paper'">
            <ion-card-content>
                <h1>My Projects</h1>
                <table class="rwd-table">
                    <ng-container *ngIf="loadData.length > 0">
                        <tr *ngFor="let x of loadData">
                            <td data-th="Project Title">{{x.title}}</td>
                            <td data-th="Project Type">{{x.type}}</td>
                            <td data-th="ERF / Lot No">{{x.proj_address}}</td>
                            <td data-th="GPS Coordinates">{{x.proj_gps}}</td>
                            <td data-th="Street Address">{{x.proj_city}}</td>
                            <td data-th="Project Location">R {{x.proj_city}}</td>
                            <td data-th="Province">{{x.proj_state}}</td>
                            <td data-th="Portal Code">{{x.proj_zip}}</td>
                            <td data-th="Description">{{x.description}}</td>
                            <td data-th="Service Rendered">{{x.prof_type}}</td>
                            <td data-th="Construction Cost">R{{(x.const_cost)}}</td>
                            <ng-container *ngIf="x.status == 'Completed'">
                                <td data-th="Final Cost">R{{x.final_cost}}</td>
                                <td data-th="Cost Variance">{{x.variable}}% over budget</td>
                            </ng-container>
                            <td data-th="Professional Fees">R{{x.prof_cost}}</td>
                            <td data-th="Client Name">{{x.client_name}}</td>
                            <td data-th="Project Leader">{{x.pl_name}}</td>
                            <td data-th="Email">{{x.pl_email}}</td>
                            <td data-th="Phone">{{x.pl_phone}}</td>
                            <td data-th="Start Date">{{x.started_at}}</td>
                            <ion-label class="textBold">Supporting Documents</ion-label><br>
                            <ion-label>Letter of appointment</ion-label><br>
                            <ng-container *ngIf="x.appointment != ''">
                                <ion-button size="small" color="success" class="down-btn-profe"
                                    (click)="download(x.appointment)">Download</ion-button>
                            </ng-container>
                            <ng-container *ngIf="x.appointment == ''">
                                <ion-label>&nbsp;&nbsp;There is no Letter of appointment.</ion-label>
                            </ng-container><br>
                            <ng-container *ngIf="x.status == 'Completed'">
                                <ion-label>Practical completion certificate</ion-label><br>
                                <ng-container *ngIf="x.pratical_certification != ''">
                                    <ion-button size="small" color="success" class="down-btn-profe"
                                        (click)="download(x.pratical_certification)">Download</ion-button>
                                </ng-container>
                                <ng-container *ngIf="x.pratical_certification == ''">
                                    <ion-label>&nbsp;&nbsp;There is no Practical completion
                                        certificate.</ion-label>
                                </ng-container><br>
                            </ng-container>
                            <ng-container *ngIf="x.status == 'Completed'">
                                <ion-label>Final completion certificate</ion-label><br>
                                <ng-container *ngIf="x.final_certification != ''">
                                    <ion-button size="small" color="success" class="down-btn-profe"
                                        (click)="download(x.final_certification)">Download</ion-button>
                                </ng-container>
                                <ng-container *ngIf="x.final_certification == ''">
                                    <ion-label>&nbsp;&nbsp;There is no Final completion
                                        certificate.</ion-label>
                                </ng-container><br>
                            </ng-container>
                            <ng-container *ngIf="x.status == 'Completed' || x.status == 'Cancelled'">
                                <ion-label>Final account</ion-label><br>
                                <ng-container *ngIf="x.final_account != ''">
                                    <ion-button size="small" color="success" class="down-btn-profe"
                                        (click)="download(x.final_account)">Download</ion-button>
                                </ng-container>
                                <ng-container *ngIf="x.final_account == ''">
                                    <ion-label>&nbsp;&nbsp;There is no Final account.</ion-label>
                                </ng-container><br>
                            </ng-container>
                            <ng-container *ngIf="x.status == 'Completed'">
                                <td data-th="Completed Date" style="color: blue;">{{x.completed_at}}</td>
                                <td data-th="Project Status" style="color: blue;">{{x.status}}</td>
                            </ng-container>
                            <ng-container *ngIf="x.status == 'Ongoing'">
                                <td data-th="Project Status" style="color: rgb(0, 0, 0);">{{x.status}}</td>
                            </ng-container>
                            <ng-container *ngIf="x.status == 'Cancelled'">
                                <td data-th="Cancelled Date" style="color: rgb(255, 0, 0);">{{x.completed_at}}</td>
                                <td data-th="Project Status" style="color: rgb(255, 0, 0);">{{x.status}}</td>
                            </ng-container>
                            <br>
                            <ng-container *ngIf="x.status_verify == '1'">
                                <ion-button size="small" color="success" class="project_verify"
                                    (click)="action(x, 'Completed')" disabled="true">Complete</ion-button>
                                <ion-button size="small" style="color: blue;" class="project_verify"
                                    (click)="action(x, 'Ongoing')" disabled="true">Ongoing</ion-button>
                                <ion-button size="small" color="danger" class="project_verify"
                                    (click)="action(x, 'Cancelled')" disabled="true">
                                    Cancelled</ion-button>
                                <ion-item>
                                    <ion-button size="small" color="success" class="project_update"
                                        (click)="action(x, 'Update')" disabled="true">
                                        Update</ion-button>
                                    <ion-button size="small" color="dark" class="project_update"
                                        (click)="action(x, 'Verify')" disabled="true">
                                        Verification</ion-button>
                                </ion-item>
                            </ng-container>
                            <ng-container *ngIf="x.status_verify == '0'">
                                <ion-button size="small" color="success" class="project_verify"
                                    (click)="action(x, 'Completed')">Complete</ion-button>
                                <ion-button size="small" style="color: blue;" class="project_verify"
                                    (click)="action(x, 'Ongoing')">Ongoing</ion-button>
                                <ion-button size="small" color="danger" class="project_verify"
                                    (click)="action(x, 'Cancelled')">
                                    Cancelled</ion-button>
                                <ion-item>
                                    <ion-button size="small" color="success" class="project_update"
                                        (click)="action(x, 'Update')">
                                        Update</ion-button>
                                    <ion-button size="small" color="dark" class="project_update"
                                        (click)="action(x, 'Verify')">
                                        Verification</ion-button>
                                </ion-item>
                            </ng-container>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="loadData.length == 0">
                        <div class="text-center">No project or No connection.</div>
                    </ng-container>
                </table>
            </ion-card-content>
        </ion-card>
        <ion-card class="p-fixed fixed-ion-card-area" *ngSwitchCase="'add-circle'">
            <ion-card-content>
                <h1>Add New Project</h1>
                <ion-item>
                    <ion-label position="stacked">New Project Title </ion-label>
                    <ion-input type="text" name="title" [(ngModel)]="form.title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea [(ngModel)]="form.description"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>Service Rendered</ion-label>
                    <ion-select multiple="false" [(ngModel)]="form.prof_type">
                        <ion-select-option value="Project Manager">Project Manager</ion-select-option>
                        <ion-select-option value="Principal Agent">Principal Agent</ion-select-option>
                        <ion-select-option value="Architect">Architect</ion-select-option>
                        <ion-select-option value="Quantity Surveyor">Quantity Surveyor</ion-select-option>
                        <ion-select-option value="Civil Eng">Civil Eng</ion-select-option>
                        <ion-select-option value="Structural Eng">Structural Eng</ion-select-option>
                        <ion-select-option value="Mechanical Eng">Mechanical Eng</ion-select-option>
                        <ion-select-option value="Electrical Eng">Electrical Eng</ion-select-option>
                        <ion-select-option value="OHS agent">OHS agent</ion-select-option>
                        <ion-select-option value="Plumber">Plumber</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Select Project Type</ion-label>
                    <ion-select multiple="false" [(ngModel)]="form.type">
                        <ion-select-option value="Residential">Residential</ion-select-option>
                        <ion-select-option value="Multi-residential">Multi-residential</ion-select-option>
                        <ion-select-option value="Interior">Interior</ion-select-option>
                        <ion-select-option value="Library">Library</ion-select-option>
                        <ion-select-option value="Hospital">Hospital</ion-select-option>
                        <ion-select-option value="Office Parks">Office Parks</ion-select-option>
                        <ion-select-option value="Guest House">Guest House</ion-select-option>
                        <ion-select-option value="Multi purpose Hall">Multi purpose Hall</ion-select-option>
                        <ion-select-option value="Mall">Mall</ion-select-option>
                        <ion-select-option value="RDP Housing">RDP Housing</ion-select-option>
                        <ion-select-option value="Township Market Development">Township Market Development
                        </ion-select-option>
                        <ion-select-option value="Road Paving">Road Paving</ion-select-option>
                        <ion-select-option value="Road Construction">Road Construction</ion-select-option>
                        <ion-select-option value="Bridge">Bridge</ion-select-option>
                        <ion-select-option value="Sport Center Development">Sport Center Development</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Construction Cost(R, Input Only Number) : </ion-label>
                    <ion-input type="text" [(ngModel)]="form.const_cost" min="0"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Professional Fees(R, Input Only Number) : </ion-label>
                    <ion-input type="text" [(ngModel)]="form.prof_cost" min="0"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Start Date</ion-label>
                    <ion-input type="date" placeholder="Mon/Day/Year" [(ngModel)]="form.started_at"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Select Project Status</ion-label>
                    <ion-select multiple="false" [(ngModel)]="form.status" (ionChange)="change_status($event)">
                        <ion-select-option value="Ongoing">Ongoing</ion-select-option>
                        <ion-select-option value="Completed">Completed</ion-select-option>
                        <ion-select-option value="Cancelled">Cancelled</ion-select-option>
                    </ion-select>
                </ion-item>
                <ng-container *ngIf="completeFlag==1">
                    <ion-item>
                        <ion-label position="stacked">Final Cost(R, Input Only Number) : </ion-label>
                        <ion-input type="text" [(ngModel)]="form.final_cost" min="0"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Construction Completed Date</ion-label>
                        <ion-input type="date" placeholder="Mon/Day/Year" [(ngModel)]="form.completed_at"></ion-input>
                    </ion-item>
                </ng-container>
                <ion-item>
                    <ion-label position="stacked">Client Name</ion-label>
                    <ion-input name="client_name" [(ngModel)]="form.client_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Project Leader Name</ion-label>
                    <ion-input name="pl_name" [(ngModel)]="form.pl_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Project Leader Email</ion-label>
                    <ion-input name="pl_email" [(ngModel)]="form.pl_email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Project Leader Phone Number</ion-label>
                    <ion-input name="pl_phone" minlength="11" [(ngModel)]="form.pl_phone">+</ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" style="margin-bottom: 10px;">Project Location</ion-label>
                    <ion-item>
                        <ion-label position="stacked"></ion-label>
                        <ion-input placeholder="ERF /Lot No" name="proj_address" [(ngModel)]="form.proj_address">
                        </ion-input>
                        <ion-input placeholder="GPS Coordinates" name="proj_gps" [(ngModel)]="form.proj_gps">
                        </ion-input>
                        <ion-input placeholder="Street Address" name="proj_street" [(ngModel)]="form.proj_street">
                        </ion-input>
                        <ion-input placeholder="City" name="proj_city" [(ngModel)]="form.proj_city"></ion-input>
                        <ion-input placeholder="Province" name="proj_state" [(ngModel)]="form.proj_state"></ion-input>
                        <ion-input placeholder="Postal Code" name="proj_zip" [(ngModel)]="form.proj_zip"></ion-input>
                    </ion-item>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" style="margin-bottom: 10px;">Upload Supporting Documents
                    </ion-label>
                    <ion-item>
                        <ion-label position="stacked">Letter of appointment</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'appointment')"></ion-input>
                    </ion-item>
                    <ng-container *ngIf="completeFlag==1">
                        <ion-item>
                            <ion-label position="stacked">Practical completion</ion-label>
                            <ion-input name="file" type="file" accept="application/pdf"
                                (change)="changeListener($event, 'pratical_certification')"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Final completion certificate</ion-label>
                            <ion-input name="file" type="file" accept="application/pdf"
                                (change)="changeListener($event, 'final_certification')"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Final account</ion-label>
                            <ion-input name="file" type="file" accept="application/pdf"
                                (change)="changeListener($event, 'final_account')"></ion-input>
                        </ion-item>
                    </ng-container>
                    <ng-container *ngIf="completeFlag==-1">
                        <ion-item>
                            <ion-label position="stacked">Final account</ion-label>
                            <ion-input name="file" type="file" accept="application/pdf"
                                (change)="changeListener($event, 'final_account')"></ion-input>
                        </ion-item>
                    </ng-container>
                </ion-item>
                <ion-item style="margin-top: 20px;">
                    <ng-container *ngIf="saveButtonFlag">
                        <ion-button class="button-common" disabled={{saveButtonFlag}}>Uploading
                            File
                        </ion-button>
                    </ng-container>
                    <ng-container *ngIf="!saveButtonFlag">
                        <ion-button (click)="addProjects()" class="button-common" disabled={{saveButtonFlag}}>Save
                            Project
                        </ion-button>
                    </ng-container>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
    <br>
    <ion-modal [isOpen]="isUpdateModal">
        <ng-template>
            <ion-toolbar color="dark">
                <ion-title>Complete Information</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="closeUpdateModal()">Close</ion-button>
                </ion-buttons>
            </ion-toolbar>
            <ion-content class="ion-padding">
                <ion-item>
                    <ion-label position="stacked">Final Cost</ion-label>
                    <ion-input type="number" min="1" [(ngModel)]="updateProjectData.final_cost"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">DateTime</ion-label>
                    <ion-input type="date" [(ngModel)]="updateProjectData.completed_at"></ion-input>
                </ion-item>
                <ng-container *ngIf="current_status == 'Completed'">
                    <ion-item>
                        <ion-label position="stacked">Practical completion</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'isUpdateModal_pratical_certification')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Final completion certificate</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'isUpdateModal_final_certification')"></ion-input>
                    </ion-item>
                </ng-container>
                <ng-container *ngIf="current_status == 'Completed' || current_status == 'Cancelled'">
                    <ion-item>
                        <ion-label position="stacked">Final account</ion-label>
                        <ion-input name="file" type="file" accept="application/pdf"
                            (change)="changeListener($event, 'isUpdateModal_final_account')"></ion-input>
                    </ion-item>
                </ng-container>
                <ion-item class="m-2">
                    <ng-container *ngIf="saveButtonFlag">
                        <ion-button class="button-common w-100" disabled={{saveButtonFlag}}>Uploading
                            File
                        </ion-button>
                    </ng-container>
                    <ng-container *ngIf="!saveButtonFlag">
                        <ion-button (click)="updateStatus()" class="button-common w-100">Update
                            Information
                        </ion-button>
                    </ng-container>
                </ion-item>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>
<!-- <ion-footer color="dark" class="footer">
    <ion-toolbar color="">
        <ion-title class="footer">Copyright SIVAGO </ion-title>
    </ion-toolbar>
</ion-footer> -->