ion-slides {
    height: 100%;
    background-color: black;
    color: blanchedalmond;
}

ion-button {
    margin-left: 15%;
    margin-right: 15%;
}

p {
    padding    : 0 35px;
    font-size  : 16px;
    line-height: 1.6;
    // color      : var(--ion-color-step-600, #60646b);
    color: blanchedalmond;
}

