.table {
    font-size : 14px;
    width     : 96%;
    margin    : 2%;
    margin-top: 5%;

    th {
        background: #8a8a8a;
        padding   : 3px;
        color     : #fff;
        border    : 1px solid #fff;
    }

    td {
        background: #ccc;
        padding   : 3px;
        color     : #000;
        border    : 1px solid #fff;
    }
}