<ion-header color="dark" style="background: black;height: 25%;">
    <ion-content color="dark">
        <ion-img src="../../../assets/veriprof-logo2.png" class="headerImage"></ion-img>
        <h5 color="light">Assessors : {{userEmail}}</h5>
    </ion-content>
</ion-header>

<ion-content padding color="dark">
    <ion-card class="scroll-y mb-0 p-fixed w-80 h-55">
        <ion-segment>
            <ion-segment>
                <ion-card (click)="unverifiedbiz()">
                    <ion-img src="../../../assets/biz.png"></ion-img>
                    <ion-label class="inner">&nbsp;&nbsp;Business&nbsp;&nbsp; </ion-label>
                </ion-card>
            </ion-segment>
            <ion-segment>
                <ion-card (click)="unverifiedoffice()">
                    <ion-img src="../../../assets/network.png"></ion-img>
                    <ion-label class="inner">Office</ion-label>
                </ion-card>
            </ion-segment>
        </ion-segment>
        <ion-segment>
            <ion-segment>
                <ion-card (click)="unverifiedproject()">
                    <ion-img src="../../../assets/arch.png"></ion-img>
                    <ion-label class="inner">&nbsp;&nbsp;&nbsp;Projects&nbsp;&nbsp;&nbsp;</ion-label>
                </ion-card>
            </ion-segment>
            <ion-segment>
                <ion-card (click)="unverifiedprof()">
                    <ion-img src="../../../assets/personal.png"></ion-img>
                    <ion-label class="inner">Professional</ion-label>
                </ion-card>
            </ion-segment>
        </ion-segment>
        <ion-segment>
            <ion-segment>
                <ion-card (click)="schedules()">
                    <ion-img src="../../../assets/sched.png"></ion-img>
                    <ion-label class="inner">Schedules</ion-label>
                </ion-card>
            </ion-segment>
            <ion-segment>
                <ion-card (click)="accessorsreport()">
                    <ion-img src="../../../assets/accreport.png"></ion-img>
                    <ion-label class="inner">Report</ion-label>
                </ion-card>
            </ion-segment>
        </ion-segment>
    </ion-card>
</ion-content>

<ion-footer class="mb-0" style="height: 20%;">
    <ion-label class="m-4" color="light">Assessors Verification Summary</ion-label>
    <ion-segment>
        <ion-card class="h-100">
            <div class="profileimage" *ngIf="image === 'assets/icon-66.png'">
                <img src="assets/icon-66.png" alt="" (click)="cameraOption()">
            </div>
            <div class="profileimage" *ngIf="image != 'assets/icon-66.png'">
                <img src="{{image}}" alt="" (click)="cameraOption()">
            </div>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-label class="inner">Offices:</ion-label>
                <ion-label class="inner">{{officeNum}}</ion-label>
            </ion-row>
            <ion-row>
                <ion-label class="inner">Profiles:</ion-label>
                <ion-label class="inner">{{profileNum}}</ion-label>
            </ion-row>
            <ion-row>
                <ion-label class="inner">Projects:</ion-label>
                <ion-label class="inner">{{projectNum}}</ion-label>
            </ion-row>
        </ion-card>
    </ion-segment>
</ion-footer>