<ion-header color="dark" style="background: black;height: 25%;">
    <ion-content color="dark">
        <ion-img src="../../../assets/veriprof-logo2.png" class="headerImage"></ion-img>
        <h5 color="light">Assessors : {{userEmail}}</h5>
    </ion-content>
</ion-header>

<ion-content padding color="dark">
    <ion-card>
        <ion-segment>
            <ion-segment>
                <ion-card (click)="unverifiedbiz()">
                    <ion-img src="../../../assets/biz.png"></ion-img>
                    <ion-label class="inner">Business </ion-label>
                </ion-card>
            </ion-segment>
            <ion-segment>
                <ion-card (click)="unverifiedpers()">
                    <ion-img src="../../../assets/personal.png"></ion-img>
                    <ion-label class="inner">Profess </ion-label>
                </ion-card>
            </ion-segment>
        </ion-segment>
        <ion-segment>
            <ion-segment>
                <ion-card (click)="schedules()">
                    <ion-img src="../../../assets/sched.png"></ion-img>
                    <ion-label class="inner">Schedules </ion-label>
                </ion-card>
            </ion-segment>
            <ion-segment>
                <ion-card (click)="accessorsreport()">
                    <ion-img src="../../../assets/accreport.png"></ion-img>
                    <ion-label class="inner">Report</ion-label>
                </ion-card>
            </ion-segment>
        </ion-segment>
    </ion-card>
</ion-content>

<ion-footer class="mb-0">
    <ion-label class="m-4" color="light">Assessors Verification Summary</ion-label>
    <ion-segment>
        <ion-card style="width: 40%;">
            <div class="profileimage" *ngIf="image === 'assets/icon-66.png'">
                <img src="assets/icon-66.png" alt="" (click)="cameraOption()">
            </div>
            <div class="profileimage" *ngIf="image != 'assets/icon-66.png'">
                <img src="{{image}}" alt="" (click)="cameraOption()">
            </div>
        </ion-card>
        <ion-card>
            <ion-label class="inner">Busis</ion-label>
            <ion-label class="inner">{{biz_num}}</ion-label>
        </ion-card>
        <ion-card>
            <ion-label class="inner">Prof's</ion-label>
            <ion-label class="inner">{{profess_num}}</ion-label>
        </ion-card>
    </ion-segment>
</ion-footer>