<ion-header color="dark" style="background: black;height: 28%;">
    <ion-content color="dark" >
      <ion-img src="../../../assets/veriprof-logo2.png" class="headerImage"></ion-img>
      <h5 style="margin-top: 10px;">Assessors Dashboard </h5>
      <h6 text-center style="font-size: 14px;">Welcome : {{userEmail}}</h6>
    </ion-content>
  </ion-header>

<ion-content padding color="dark">
    <br>
    <ion-card>
        <ion-segment scrollable color="medium">
            <ion-segment-button (click)="unverifiedbiz()">
                <ion-img src="../../../assets/biz.png"></ion-img>
                <ion-label class="inner">Business </ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="unverifiedpers()">
                <ion-img src="../../../assets/personal.png"></ion-img>
                <ion-label class="inner">Profess</ion-label>
            </ion-segment-button>
        </ion-segment>
        <br>
        <ion-segment scrollable color="medium">
            <ion-segment-button (click)="schedules()">
                <ion-img src="../../../assets/sched.png"></ion-img>
                <ion-label class="inner">Schedules</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="accessorsreport()">
                <ion-img src="../../../assets/accreport.png"></ion-img>
                <ion-label class="inner">Report</ion-label>
            </ion-segment-button>
        </ion-segment>
        <hr>
        <br>
        <p><b>Assessors Verification Summary</b></p>
        <ion-segment scrollable color="medium">
            <ion-segment-button style="width: 30%;">
                <div class="profileimage" *ngIf="image === 'assets/icon-66.png'">
                    <img src="assets/icon-66.png" alt="" (click)="cameraOption()">
                </div>
                <div class="profileimage" *ngIf="image != 'assets/icon-66.png'">
                    <img src="{{image}}" alt="" (click)="cameraOption()">
                </div>
                <!-- <img style="width: 80px;height: 80px;" alt="Registration Image" *ngIf="!fileUrl" src="assets/icon-66.png"/>
                <img style="width: 80px;height: 80px;" alt="Registration Image" *ngIf="fileUrl" src="{{fileUrl}}"/>
                <ion-button color="medium" size="small" (click)="selectImage()">
                    <ion-icon slot="icon-only" name="camera"></ion-icon>
                </ion-button> -->
                <!-- <img src="{{mydetail.picpath}}"  id='avatur' style="width: 80px;height: 80px;" alt="Registration Image" (click)="upImage()"/>
                <ion-label class="inner" style="font-size:9px">{{mydetail.email}}</ion-label> -->
            </ion-segment-button>
            <ion-segment-button>
                <ion-label class="inner">Busis</ion-label>
                <ion-label class="inner">{{biz_num}}</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label class="inner">Prof's</ion-label>
                <ion-label class="inner">{{profess_num}}</ion-label>
            </ion-segment-button>

        </ion-segment>
    </ion-card>
</ion-content>
<!-- <ion-footer color="dark" class="footer">
    <ion-toolbar color="dark">
        <ion-title class="footer">Copyright SIVAGO </ion-title>
    </ion-toolbar>
</ion-footer> -->