.table {
    font-size: 10px;

    th {
        background: #8a8a8a;
        padding   : 5px;
        color     : #fff;
        border    : 1px solid #fff;
    }

    td {
        background: #ccc;
        padding   : 5px;
        color     : #000;
        border    : 1px solid #fff;
    }
}

.scrollH {
    overflow-x: auto;
}