.footer {
    font-size: 11px;
    color    : rgb(109, 109, 109);
}

.list {
    font-size: 11px;

}

.project_verify {
    font-size : 11px;
    margin-top: -7px;
}

.rwd-table {
    margin-top   : 1em;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 96%; // adjust to your needs

    tr {
        border-top   : 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    th {
        display: none; // for accessibility, use a visually hidden method here instead!  
    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content    : attr(data-th)": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width  : 10em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: 100%) {
                display: none;
            }
        }
    }

    th,
    td {
        text-align: left;

        @media (min-width: 100%) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }

    h1 {
        font-weight   : normal;
        letter-spacing: -1px;
        color         : #34495E;
    }

    .rwd-table {
        background   : #34495E;
        color        : #fff;
        border-radius: .4em;
        overflow     : hidden;

        tr {
            border-color: lighten(#34495E, 10%);
        }

        th,
        td {
            margin: .5em 1em;

            @media (min-width: 100%) {
                padding: 1em !important;
            }
        }

        th,
        td:before {
            color: #dd5;
        }
    }
}