.headerImage {
    height       : 55%;
    width        : 55%;
    margin       : auto;
    margin-top   : 4%;
    margin-bottom: 0%;
}

.inner {
    font-size: 13px;
    color    : rgb(168, 167, 167);
}

.landTabs {
    position: fixed;
    bottom  : 0;
    color: wheat !important;
}

.account_setting ion-segment-button {
    --indicator-color: gray;
}

.landTabs ion-segment-button {
    --indicator-color: var(--ion-color-dark);
    color            : wheat !important;
    border-radius    : 0px !important;
    border           : 0.05px solid rgb(29, 29, 29);
    font-size        : 14px;
    height           : 35px;
}

.segment-button-checked ::ng-deep {
    border-top: 3px solid #fff !important;
}

ion-content ion-card {
    background-color: #000;
    margin          : 4% 10% 18% 10%;
}

ion-content ion-card ion-segment-button {
    border: none !important;
}

.project_verify {
    padding: 2px;
    height : 1.9rem;
    margin : 0rem;
}

.quick_verify_card_profess {
    top   : 150px;
    bottom: 0px;
    width : 80%;
}

th {
    width     : 100%;
    background: #8a8a8a;
    color     : #fff;
    border    : 1px solid #fff;
}

td {
    min-width : 120px;
    background: #ccc;
    padding   : 5px;
    color     : #000;
    border    : 1px solid #fff;
    width     : 50%;
}

/// ================================================================================