<ion-header color="dark" style="height: 25%;">
    <ion-content color="dark" class="ion-content-overflow-hidden">
        <ion-img src="../../../assets/veriprof-logo2.png" class="headerImage"></ion-img>
        <h5 class="text-center" color="light">Welcome : {{userName}}</h5>
    </ion-content>
</ion-header>

<ion-content color="dark" class="ion-content-overflow-hidden">
    <div [ngSwitch]="land_seg">
        <ion-card *ngSwitchCase="'dashboardp'">
            <ion-segment>
                <ion-segment>
                    <ion-card (click)="project()">
                        <ion-card-content>
                            <ion-img src="../../../assets/myproj.png"></ion-img>
                        </ion-card-content>
                        <ion-label class="inner">My Projects</ion-label>
                    </ion-card>
                </ion-segment>
                <ion-segment>
                    <ion-card (click)="profile()">
                        <ion-card-content>
                            <ion-img src="../../../assets/prof.png"></ion-img>
                        </ion-card-content>
                        <ion-label class="inner">My Profile</ion-label>
                    </ion-card>
                </ion-segment>
            </ion-segment>
            <ion-segment>
                <ion-segment>
                    <ion-card (click)="plans()">
                        <ion-card-content>
                            <ion-img src="../../../assets/plans.png" class="prof_img_icon"></ion-img>
                        </ion-card-content>
                        <ion-label class="inner">ePlan Filling</ion-label>
                    </ion-card>
                </ion-segment>
                <ion-segment>
                    <ion-card (click)="report()">
                        <ion-card-content>
                            <ion-img src="../../../assets/reports.png"></ion-img>
                        </ion-card-content>
                        <ion-label class="inner">Verified Report</ion-label>
                    </ion-card>
                </ion-segment>
            </ion-segment>
            <ion-segment>
                <ion-segment>
                    <ion-card (click)="bids()">
                        <ion-card-content>
                            <ion-img src="../../../assets/accreport.png"></ion-img>
                        </ion-card-content>
                        <ion-label class="inner">Tender BIDS</ion-label>
                    </ion-card>
                </ion-segment>
                <ion-segment>
                    <ion-card (click)="payments()">
                        <ion-card-content>
                            <ion-img src="../../../assets/paydue.png"></ion-img>
                        </ion-card-content>
                        <ion-label class="inner">Payment</ion-label>
                    </ion-card>
                </ion-segment>
            </ion-segment>
            <ion-segment>
                <ng-container *ngIf="moffice != 'no'">
                    <ion-row style="width: 100%;">
                        <ion-label style="font-size: 18px;">{{moffice}} is your office email? </ion-label>
                    </ion-row>
                    <ion-row style="margin: auto;">
                        <ion-button style="width: 50%;" size="small" color="success" class="project_verify"
                            (click)="saction('Verified')">Yes</ion-button>
                        <ion-button style="width: 50%;" size="small" color="success" class="project_verify"
                            (click)="saction('Unerified')">No</ion-button>
                    </ion-row>
                </ng-container>
            </ion-segment>
        </ion-card>
        <ion-card class="p-fixed rounded-0 quick_verify_card_profess" *ngSwitchCase="'quickp'">
            <ion-item color="dark" class="mb-2 mt-5">
                <ion-label position="floating" color="dark" class="inner">Key Word</ion-label>
                <ion-input type="text" [(ngModel)]="keyword" color="dark" class="inner"></ion-input>
                <ion-button class="inner" color="success" slot="end" style="margin:0px; margin-top: 20px;"
                    (click)="searchContent()">Search</ion-button>
            </ion-item>
            <ion-item class="h-100 overflow-scroll" color="dark" lines="none">
                <tbody>
                    <ng-container *ngIf="valArray != null">
                        <tr *ngFor="let eachVal of valArray">
                            <td data-th="">{{eachVal.key}}</td>
                            <td data-th="">{{eachVal.val}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </ion-item>
        </ion-card>
        <ion-card *ngSwitchCase="'newsp'">
        </ion-card>
        <ion-card *ngSwitchCase="'accountp'" style="padding: 0px !important;">
            <ion-segment class="account_setting" [(ngModel)]="change_account">
                <ion-segment-button value="update_account">
                    <ion-label color="light">Update Account</ion-label>
                </ion-segment-button>
                <ion-segment-button value="delete_account">
                    <ion-label color="light">Delete Account</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="change_account">
                <ion-card *ngSwitchCase="'update_account'" color="dark">
                    <ion-item color="dark">
                        <ion-label position="floating" class="inner">Name</ion-label>
                        <ion-input type="text" class="inner" [(ngModel)]="account.name" value={{account.name}}>
                        </ion-input>
                    </ion-item>
                    <ion-item color="dark">
                        <ion-label position="floating" class="inner">Current Password</ion-label>
                        <ion-input type="password" placeholder="Input your password to update." required class="inner"
                            [(ngModel)]="account.oldpass" value={{account.oldpass}}></ion-input>
                    </ion-item>
                    <ion-item color="dark">
                        <ion-label position="floating" class="inner">New Password</ion-label>
                        <ion-input type="password" required class="inner" [(ngModel)]="account.newpass"
                            value={{account.newpass}}></ion-input>
                    </ion-item>
                    <ion-item color="dark">
                        <ion-label position="floating" class="inner">Confirm</ion-label>
                        <ion-input type="password" required class="inner" [(ngModel)]="account.confirm"
                            value={{account.confirm}}></ion-input>
                    </ion-item>
                    <br>
                    <ion-button class="font-16 w-100" type="submit" color="success" (click)="update('update')">Update
                        Account</ion-button>
                </ion-card>
                <ion-card *ngSwitchCase="'delete_account'">
                    <ion-item color="dark">
                        <ion-label position="floating" class="inner">Current Password</ion-label>
                        <ion-input type="password" placeholder="Input your password to update." required class="inner"
                            [(ngModel)]="delete_account.oldpass" value={{delete_account.oldpass}}></ion-input>
                    </ion-item>
                    <ion-item color="dark">
                        <ion-label position="floating" class="inner">Confirm</ion-label>
                        <ion-input type="password" required class="inner" [(ngModel)]="delete_account.confirm"
                            value={{delete_account.confirm}}></ion-input>
                    </ion-item>
                    <ion-button class="font-16 w-100" type="submit" color="danger" (click)="delete()">Delete Account
                    </ion-button>
                </ion-card>
            </div>
        </ion-card>
    </div>
</ion-content>
<ion-footer>
    <ion-segment [(ngModel)]="land_seg" class="landTabs">
        <ion-segment-button value="dashboardp">
            <ion-label>Dashboard</ion-label>
        </ion-segment-button>
        <ion-segment-button value="quickp">
            <ion-label>Quick Verify</ion-label>
        </ion-segment-button>
        <ion-segment-button value="newsp">
            <ion-label>News</ion-label>
        </ion-segment-button>
        <ion-segment-button value="accountp">
            <ion-label>Account</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-footer>